<div class="navigation">
	<div class="logo">
		<a href="">
			<div class="h-100">
				<div class="h-100 logo{{logo}}-img"></div>
			</div>
		</a>
	</div>
	<div class="content-sidebar">
		<ul>
			<li *ngFor="let item of menu">
				<a [href]="item.route">
					<span class="icon">
						<fa-icon *ngIf="item.icon" [icon]="item.icon"></fa-icon>
						<app-badges *ngIf="item.hasBadge" value="7" type="primary"></app-badges>
					</span>
					<span class="title">{{ item.name }}</span>
				</a>
			</li>
		</ul>
		<div class="more-options dropup" (click)="showDrop(false)" >
			<!-- (mouseleave)="showDrop(true)" -->
			<div>
				<span class="icon"> 
					<fa-icon [icon]="iconBars"></fa-icon> 
				</span>
				<span class="title">Mais</span>	
			</div>
			<ul id="dropUp" class="dropup-itens">
				<li class="item">
					<span class="title">Configurações</span>
					<div class="icon-drop">
						<fa-icon [icon]="iconGear"></fa-icon>
					</div>
				</li>
				<li class="item">
					<span class="title">Salvos</span>
					<div class="icon-drop">
						<fa-icon [icon]="iconBookMark"></fa-icon>
					</div>
				</li>
				<li class="item" (click)="darkTheme()">
					<span class="title">Alternar modo</span>
					<div class="icon-drop">
						<fa-icon [icon]="iconMoon"></fa-icon>
					</div>
				</li>
				<li class="item">
					<span class="title">Sua atividade</span>
					<div class="icon-drop">
						<fa-icon [icon]="iconClock"></fa-icon>
					</div>
				</li>
				<li class="item">
					<span class="title">Relatar um problema</span>
					<div class="icon-drop">
						<fa-icon [icon]="iconExclamation"></fa-icon>
					</div>
				</li>
				<li class="item">
					<span class="title">Trocar de conta</span>
					<div class="icon-drop">
						<fa-icon class="hidden" [icon]="iconExclamation"></fa-icon>
					</div>
				</li>
				<li class="item">
					<span class="title">Sair</span>
					<div class="icon-drop">
						<fa-icon class="hidden" [icon]="iconExclamation"></fa-icon>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>